<!-- SVG ICONS -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>


<form class="m-auto col-sm-8 col-md-6 col-lg-6">
  <h1>Register form</h1>
  <fieldset>
    <legend>Personal data</legend>
    <div class="mb-3">
      <label for="name" class="form-label" >Name: </label>
      <input type="text"  name="name" class="form-control" [(ngModel)]="person.name">
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Last Name: </label>
      <input type="text" class="form-control" name="lastname" [(ngModel)]="person.lastname">
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone: </label>
      <input type="tel" min="0" step="1" class="form-control" name="phone" [(ngModel)]="person.phone">
    </div>
    <div class="mb-3">
      <label for="direction" class="form-label">Direction: </label>
      <input type="text" class="form-control" name="direction" [(ngModel)]="person.direction">
    </div>
  </fieldset>

<!-- error -->
  <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="!validationPerson.success ">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      {{validationPerson.message}}
    </div>
  </div>

  <hr>

  <fieldset>
    <legend>User data</legend>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="user.username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password: </label>
      <input type="password" class="form-control" name="password" [(ngModel)]="user.password">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email: </label>
      <input type="email" class="form-control" name="email" [(ngModel)]="user.email">
    </div>
    <div class="mb-3">
      <label for="rol" class="form-label">Rol: </label>
      <select name="rol" class="form-select" [(ngModel)]="user.rol">
        <option value="">---</option>
        <option value="administrator">Administrator</option>
        <option value="finance">Finance</option>
        <option value="marketing">Marketing</option>
        <option value="support">Support</option>
        <option value="client">Cllient</option>
        <option value="medical">Medical</option>
      </select>
    </div>
  </fieldset>


  <!-- error -->
  <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="!validationUser.success">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      {{validationUser.message}}
    </div>
  </div>

  <button type="submit" class="btn btn-primary" (click)="validateClientData();">Create User</button>
  <button type="reset" class="btn btn-danger">Clear Form</button>


</form>
